.modal{
  background-color: #222;
  display: none;
  position: absolute;
  width: 400px;
  height: 130px;
  left: 560px;
  top: 250px;
  color: white;
  border: 2px solid chartreuse;
  border-radius: 5px;
  padding: 15px;
}

.show{
  display: block !important;
}